*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}
:root{
  --bg: #d8eefe;
  --cardbg: #fffffe;
  --stroke: #094067; 
  --fontcolor: #5f6c7b;
  --headings: #094067;
  --bg2: #90b4ce;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container{
  width: 70%;
  height: 50%;
  background-color: var(--cardbg);
}
.navbar{
  position: relative;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: var(--bg2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar h1{
  padding: 5px;
  color: var(--fontcolor);
}
.table{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto;
  justify-content: stretch;
  align-items: center;
}
.heading{
  padding-top: 10px;
  width: 50%;
  text-decoration: underline 2px var(--stroke);
  color: var(--headings);
  
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

tbody{
  width: 100%;
  height: 100%;
}

